.content .pagination{
	margin:0;
}
.loadpage{
	background: #fff;
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}

.contentload{
	width: 150px;
	margin: auto;
}

.cssload-loader {
	width: 206px;
	height: 206px;
	line-height: 206px;
	margin: 69px auto;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 138px;
	border: 7px solid rgb(60,141,188);
	box-shadow: 0 0 69px rgb(79,181,240), inset 0 0 69px rgb(60,141,188);
		-o-box-shadow: 0 0 69px rgb(79,181,240), inset 0 0 69px rgb(60,141,188);
		-ms-box-shadow: 0 0 69px rgb(79,181,240), inset 0 0 69px rgb(60,141,188);
		-webkit-box-shadow: 0 0 69px rgb(79,181,240), inset 0 0 69px rgb(60,141,188);
		-moz-box-shadow: 0 0 69px rgb(79,181,240), inset 0 0 69px rgb(60,141,188);
}

.cssload-loader:after {
	z-index: 1;
	animation: cssload-gogoloader 1.9s infinite 0.95s;
		-o-animation: cssload-gogoloader 1.9s infinite 0.95s;
		-ms-animation: cssload-gogoloader 1.9s infinite 0.95s;
		-webkit-animation: cssload-gogoloader 1.9s infinite 0.95s;
		-moz-animation: cssload-gogoloader 1.9s infinite 0.95s;
}

.cssload-loader:before {
	z-index: 2;
	animation: cssload-gogoloader 1.9s infinite;
		-o-animation: cssload-gogoloader 1.9s infinite;
		-ms-animation: cssload-gogoloader 1.9s infinite;
		-webkit-animation: cssload-gogoloader 1.9s infinite;
		-moz-animation: cssload-gogoloader 1.9s infinite;
}

.bg-danger{
	background-color: rgba(185, 29, 29, 0.66) !important;
}



@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}
